.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.banner-card-item {
  border-right: 1px solid #cbced2;
  border-bottom: 1px solid #cbced2;
  border-left: 1px solid #cbced2;
  border-radius: 8px;
  width: 25%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 28px;
  max-width: 1140px;
  list-style-type: none;
  flex-wrap: wrap;
  display:flex;
  flex-direction:row;
}
.description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 32px;
}